@page "/task"
@inherits Logic.UITaskHandlerComponent

<h1>Send task</h1>

@*<p>Successfully connected to HUB: @HubGUID</p>*@

<button class="btn btn-primary" onclick="@SendTask">Send test task</button>

<p>Result recieved: @SomeThing</p>